.Section_hero .hero-content {
	padding-top: 4vw;
}

.hero-word {
	font-size: 14vw;
	line-height: 14vw;
}

.hero-word:first-child {
	left: 10vw;
}

.hero-word:first-child .motion-wrap .motion-word:last-child .motion-char:last-child {
		transform:
}

.hero-word:nth-child(2) {
	top: 17vw;
	left: 2vw;
}
.hero-word:nth-child(3) {
	bottom: 13vw;
	right: 5vw;
}
.hero-word:nth-child(4) {
	bottom: 2vw;
	right: 12vw;
}


