.hero-word {
  font-size: 14vw;
}

.hero-word:first-child {
  position: absolute;
  left: 10vw;
}

.hero-word:nth-child(2) {
  position: absolute;
  top: 17vw;
  left: 5vw;
}
.hero-word:nth-child(3) {
  position: absolute;
  bottom: 13vw;
  right: 5vw;

}
.hero-word:nth-child(4) {
  position: absolute;
  bottom: 2vw;
  right: 12vw;
}