code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	src: url("../fonts/PPMori-Regular.otf");
	font-family: "Mori";
	font-weight: 200;
}

@font-face {
	src: url("../fonts/PPMori-SemiBold.otf");
	font-family: "Mori";
	font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

body {
	font-family: "Mori";
}

#root {
	min-height: 100vh;
}

textArea:focus {
	outline: none;
}

.shadow-custom {
	box-shadow: 0 2vw 4vw rgb(0 0 0 / 20%);
}

.App {
	min-height: 100%;
}
