.Header .SearchButton.is-close .loop-icon {
	animation: rotateIconOut 0.5s ease forwards;
}

.Header .SearchButton.is-close .close-icon {
	animation: rotateIconIn 0.5s ease forwards;
}

.Header .SearchButton.is-loop .loop-icon {
	animation: rotateIconIn 0.5s ease forwards;
}

.Header .SearchButton.is-loop .close-icon {
	animation: rotateIconOut 0.5s ease forwards;
}

@keyframes rotateIconOut {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}

@keyframes rotateIconIn {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}
