/* .Header .MuiSvgIcon-root {
	animation: arrowAnim 2s infinite linear alternate-reverse;
}

@keyframes arrowAnim {
	0% {
		transform: translateY(20%) rotate(-90deg);
	}
	100% {
		transform: translateY(-20%) rotate(-90deg);
	}
} */
