code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	src: url("./assets/fonts/NeueMontreal-Regular.otf");
	font-family: "Neue Mtl";
	font-weight: 200;
}

@font-face {
	src: url("./assets/fonts/NeueMontreal-Medium.otf");
	font-family: "Neue Mtl";
	font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
#root {
	width: 100%;
	height: 100%;
	font-family: "Neue Mtl";
}

.shadow-custom {
	box-shadow: 0 2vw 4vw rgb(0 0 0 / 20%);
}

.App {
	min-height: 100%;
}
